<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Universe of University Woes</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <!-- import the webpage's javascript file -->
    <link rel="stylesheet" href="https://yr.media/statics/yr-media-typography/yr-typography.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
    <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="/script.js" defer></script>
  </head>
  
  
  <body>
    <div class="headContainer">
      <div class="metaLayer">
        <div class="metaLeft"><h1>The Universe of University Woes</h1>
        <h5>What is your ideal experience of education?</h5></div>
        <div class="metaRight">
          <img class="metaImg" src="headimg.png"/>
        </div>
      </div>
      <div class="imgcontainer">
        <img src="https://cdn.glitch.com/7247cc81-a875-497f-8f35-d73c2e3eba90%2Ffrontimg.png?v=1565220261736" class="images">
      </div>
    </div>
    <div id="app" class="container">
      <!--       <header>
        <h1>
        College Card Game
        </h1>
      </header> -->
      <article>
        <template>
        <div class="questions">
          <div class="centertext">
            For my entire life, I’ve been asked to write about everything from the American Revolution to the Atomic Theory. The one thing I was never asked to write about was myself.
          </div>
          <div class="centertext">
            For assignments in English or History, the focus was always on factual information. While I’m grateful that I learned how to write those types of papers, they did little to prepare me for writing all the personal essays required for college applications. How have I contributed to my community? What was my greatest failure? How is my identity meaningful? I felt like I didn’t know myself well enough to answer those questions.
          </div>
          <div class="centertext">
            Which is a serious problem and not just for the essay. In my experience, college counselors — if you’re lucky enough to have access to one — focus on helping you learn as much as you can about the universities out there without first making sure you know a thing or two about yourself.
          </div>
          <div class="centertext">
            Over the application process, I reflected on my life and thought about who I was and who I want to be.This helped me to decide not only what to write for those personal essays, but also where I wanted to go to school.
          </div>
          <div class="centertext">
            Follow along on my journey, and do some self-discovery of your own.
          </div>
          
          
          
          <div class="centertext">
            <strong>Location</strong>
            <div>
              When I was looking into different colleges, one important factor was location.
              At first, I wasn’t happy with my decision to stay close to home.
              Throughout high school, I always thought that I would go to college somewhere hundreds of miles away so I could be on my own.
              But I realized that I can be in a completely different environment with new people and still be independent, even if I’m in the same area.
              I made my decision based on my health and my family. In my junior year I had serious health problems. I’m doing much better now, but it’s more convenient for me to stay close to home so I can see the same doctors.
              I also realized that it will be helpful to see my family on a regular basis and have a support system when I’m feeling overwhelmed.
            </div>
          </div>
          <div role="break-question"  id="secondquestion">
            <h3 class="questionstyle">
            {{ questionsData[4].headline }}
            </h3>
            <p>
              <label v-for="option in questionsData[4].options">
                <input :name="questionsData[4].topic" type="radio" v-model="answeredQuestions[4]" v-bind:value="option">
                <span>{{ option.option }}</span>
              </label>
            </p>
          </div>
          
          
          <div class="centertext">
            <strong>Academic Rigor</strong>
            <div>
              I knew from the beginning that I wanted to go an academically rigorous school where I would be challenged socially, intellectually, and otherwise.
              In high school, I tried my best to participate in a range of activities and challenge myself academically by taking AP or honors classes that interested me.
              I’m really looking forward to taking more writing classes because there weren’t many offered in school. I want to push myself to become better at creative and academic writing in ways that I couldn’t have before.
            </div>
          </div>
          <div role="break-question" id="thirdquestion">
            <h3 class="questionstyle">
            {{ questionsData[1].headline }}
            </h3>
            <p>
              <label v-for="option in questionsData[1].options">
                <input :name="questionsData[1].topic" type="radio" v-model="answeredQuestions[1]" v-bind:value="option">
                <span>{{ option.option }}</span>
              </label>
            </p>
          </div>
          
          
          <div class="centertext">
            <strong>College Application Support</strong>
            <div>
              In my school, there was one college counselor, so I didn’t get that much one-on-one time to discuss my application and ended up doing a lot of my own research.
              I was able to learn a lot about different scholarships and programs offered at colleges I was interested in — but it took a lot of self-directed work.
            </div>
            <br>
            Even though I learned a lot by doing my own research, the information would’ve been a lot more useful if I had started earlier.
            If I had started taking college more seriously when I started high school and asked for guidance and help, my entire college application process would’ve been a lot smoother.
            That said, if you have a short amount of time, there’s still a lot you can do by talking to your counselors, other students and doing your own research.
          </div>
          <div role="break-question" id="fourthquestion">
            <h3 class="questionstyle">
            {{ questionsData[0].headline }}
            </h3>
            <p>
              <label v-for="option in questionsData[0].options">
                <input :name="questionsData[0].topic" type="radio" v-model="answeredQuestions[0]" v-bind:value="option">
                <span>{{ option.option }}</span>
              </label>
            </p>
          </div>
          
          
          <div class="centertext">
            <strong>Cost</strong>
            <div>
              When considering which school I wanted to go to, cost was one of my biggest worries.
              I had to think about my sister, who is two years older and attends an expensive private school.
              This was part of the reason why I mostly applied to public schools.
              At first I doubted this decision, but I realized that many of the differences between private and public schools weren’t significant enough to negatively affect my education.
            </div>
            <br>
            Because public schools in general are cheaper, and I also got some financial aid, the cost was reduced to a manageable level.
            I’ll be able to graduate from college with minimal-to-no debt and still get a good education.
          </div>
          <div role="break-question" id="fifthquestion">
            <h3 class="questionstyle">
            {{ questionsData[3].headline }}
            </h3>
            <p>
              <label v-for="option in questionsData[3].options">
                <input :name="questionsData[3].topic" type="radio" v-model="answeredQuestions[3]" v-bind:value="option">
                <span>{{ option.option }}</span>
              </label>
            </p>
          </div>
          
          
          <div class="centertext">
            <strong>Campus Size</strong>
            <div>
              I always knew that I didn’t want to go to a small college.
              I gravitated towards medium-sized or larger schools, mostly because my high school wasn’t very large and I felt like I knew all my classmates.
              I was looking forward to college where I could be in an environment with a larger variety of people, and where there would be no chance that I could know everyone.
            </div>
            <br>
            Some people feel trapped in small schools, and some people feel lost in large schools.
            I had to understand how I interacted with others and how I would feel in different environments before I decided where I wanted to be.
          </div>
          <div role="break-question" id="sixthquestion">
            <h3 class="questionstyle">
            {{ questionsData[2].headline }}
            </h3>
            <p>
              <label v-for="option in questionsData[2].options">
                <input :name="questionsData[2].topic" type="radio" v-model="answeredQuestions[2]" v-bind:value="option">
                <span>{{ option.option }}</span>
              </label>
            </p>
          </div>
          
          
          <div class="centertext">
            Throughout the college application process I had to think about my academic experiences, my personal experiences, and how I’ve grown.
            It was a jarring experience because I had never been asked to reflect on myself in that way.
            But I’m glad I did because after it all ended and I decided where I was going to go, I felt like I knew myself a lot better and had more confidence to pursue my goals.
          </div>

          <div class="buttonContainer">
          <button v-if="isReadyToResult" @click="processResult" class="result-button sticky">
        See Result
        </button>
      </div>

          <div ref="result">
          <div v-if="showResult == true">
            <h1> Here's what you said... </h1>
            <ul>
              <li v-for="statement in resultStatements">
                {{ statement }}
              </li>
            </ul>
          </div>
        </div>
        </div>



        </template>
      </article>
    </div>
  </body>
</html>